body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sidebar {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.sidebar-nav {
    display: block;
    padding-top: 1rem;
}

.sidebar-link {
    display: block;
    font-weight: 500;
    color: rgba(0,0,0,.65);
}

.price {
    top: 150px;
    padding-left: 5px;
    padding-right: 10px;
    position: absolute;
    background-color: #3c3c3c;
    color: white;
    right: 0px;
}

.search {
    position: relative;
    padding: 1rem 15px;
    margin-right: -15px;
    margin-left: -15px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.product-image {
    height: 250px;
    width: 250px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.bd-navbar {
    background-color: #563d7c;
    top: 0;
}

.card-title {
    font-size: 12px;
}

.product-card {
    padding-top: 20px;
}

.card-body {
    padding-top: 1.25rem;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 12px;
}

.date-posted {
    color: #7b7b7b;
}

.card-description {
    height: 50px;
    overflow: hidden;
}