BuyAndSellApp/BuyAndSellApp.BusinessLogic/bin/
BuyAndSellApp/BuyAndSellApp.BusinessLogic/obj/
BuyAndSellApp/BuyAndSellApp.Entities/obj/
BuyAndSellApp/BuyAndSellApp.Test/bin/
BuyAndSellApp/BuyAndSellApp.Test/obj/
BuyAndSellApp/BuyAndSellApp/bin/
BuyAndSellApp/packages/
BuyAndSellApp/BuyAndSellApp/obj/
BuyAndSellApp/BuyAndSellApp.Entities/bin/
